/* At Health Lync, we are committed to supporting nurse practitioners and physician assistants in building successful medical practices. With years of experience in the healthcare industry, our team of experts understands the unique challenges */

position: absolute;
width: 543px;
height: 210px;
left: 370px;
top: 5375px;

font-family: "Inter";
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 42px;
/* or 191% */

/* Color Plate/03 */
color: #545454;
